<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd"
        >
    <bean id="configure" class="com.shihui.openpf.home.util.OpenHomeConfig" >
        <property name="snapshot_url">
            <value>${snapshot_url}</value>
        </property>
        <property name="snapshot_appid">
            <value>${snapshot_appid}</value>
        </property>
        <property name="snapshot_salt">
            <value>${snapshot_salt}</value>
        </property>
        <property name="snapshot_appsn">
            <value>${snapshot_appsn}</value>
        </property>
        <property name="order_submit_url">
            <value>${order_submit_url}</value>
        </property>
    </bean>


</beans>
