<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd"
        >
    <import resource="spring-dubbo.xml"/>
    <bean id="propertyConfigure" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:*.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>
    <import resource="classpath*:META-INF/spring/*.xml"/>

    <context:component-scan base-package="com.shihui.openpf"/>
    <context:component-scan base-package="me.weimi.api">
        <!--与com.shihui.com.http.service.ImageHttpServiceImpl的id重复-->
        <context:exclude-filter type="regex" expression="me.weimi.api.image.service.*"/>
    </context:component-scan>
    <context:component-scan base-package="me.weimi.api.swarm.filter"/>
    <context:component-scan base-package="com.shihui.rpc"/>
    <context:component-scan base-package="com.shihui.common"/>

</beans>
