<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:bean="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


<!--     <dubbo:reference id="userService" interface="com.shihui.rpc.user.service.api.UserService" check="false"/> -->

    <dubbo:reference id="currencyRpcAccountService" interface="com.shihui.currency.api.rpc.CurrencyRpcAccountService" check="false"/>

    <dubbo:reference id="ServiceManage" interface=" com.shihui.openpf.common.dubbo.api.ServiceManage" check="false"/>

    <dubbo:reference id="openService" interface="com.shihui.api.order.service.OpenService" init="true" timeout="15000" retries="0" check="false" />

    <dubbo:reference id="omsOrderService" interface="com.shihui.api.order.service.OrderService" init="true" timeout="15000" retries="0" check="false" />


</beans>