<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <import resource="spring-dubbo.xml"/>
    <import resource="spring-mq.xml"/>
    <import resource="open-home-dbconfig.xml"/>
    <import resource="classpath*:META-INF/spring/*.xml"/>
    
    <context:property-placeholder location="classpath*:*.properties" ignore-unresolvable="true"/>

    <context:component-scan base-package="com.shihui.common"/>
    <context:component-scan base-package="me.weimi.api">
        <!--与com.shihui.com.http.service.ImageHttpServiceImpl的id重复-->
        <context:exclude-filter type="regex" expression="me.weimi.api.image.service.*"/>
    </context:component-scan>
    <context:component-scan base-package="me.weimi.api.swarm.filter"/>
    <context:component-scan base-package="com.shihui.rpc"/>
    <context:component-scan base-package="com.shihui.home"/>

    <context:component-scan base-package="com.shihui.openpf" />

    <bean id="activityRedisPollConfig"  class="redis.clients.jedis.JedisPoolConfig">
        <property name="minIdle" value="5"/>
        <property name="maxTotal" value="10"/>
        <property name="blockWhenExhausted" value="1"/>
        <property name="maxWaitMillis" value="500"/>
        <property name="lifo" value="false"/>

        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <property name="numTestsPerEvictionRun" value="-2"/>
        <property name="timeBetweenEvictionRunsMillis" value="30000"/>
        <property name="softMinEvictableIdleTimeMillis" value="3600000"/>
        <property name="minEvictableIdleTimeMillis" value="-1"/>
    </bean>

    <bean id="jedisShard_1" class="redis.clients.jedis.JedisShardInfo">
        <constructor-arg index="0" value="${redis.open_home.ip_1}"/>
        <constructor-arg index="1" type="int" value="${redis.open_home.port_1}"/>
    </bean>

    <bean id="jedisShard_2" class="redis.clients.jedis.JedisShardInfo">
        <constructor-arg index="0" value="${redis.open_home.ip_2}"/>
        <constructor-arg index="1" type="int" value="${redis.open_home.port_2}"/>
    </bean>

    <bean id="sharedJedisPool" class="redis.clients.jedis.ShardedJedisPool" scope="singleton">
        <constructor-arg index="0" ref="activityRedisPollConfig"/>
        <constructor-arg index="1">
            <list>
                <ref bean="jedisShard_1"/>
                <ref bean="jedisShard_2"/>
                <!--
                <ref bean="jedisShard_3"/>
                <ref bean="jedisShard_4"/>
                -->
            </list>
        </constructor-arg>
    </bean>

    <mvc:interceptors>
        <!-- http访问日志拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean class="com.shihui.openpf.home.interceptor.AccessLogHandlerInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
